body{
  padding-top:30px;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

h3 {
  padding: 20px 0 20px 0;
}
.background1{     /*intro*/
  font-size: 60px;
  background-color: #ff7373; /*magic pink*/
  color: #ffffff;
  background-image: url("_imgs/group_blur.jpg");
  background-position: center;
  background-size: cover;

}

.background2 {    /*about*/
    background-color: #ffffff; /* Dark Blue */
    color: #474e5d;
}

.background3 {    /*mentors*/
    background-color: #474e5d; /* White */
    color: #ffffff;
}

.bg-resources {
    background-color: #ffffff;
    color: #474e5d;
}

.background4 {      /*contact*/
    background-color: #ff7373;
    color: #ffffff;
}

.background5 {      /*footer*/
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 3px;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.navbar-nav li a:hover {
    color: #ff7373 !important;
}

/*carousel*/

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #ff7373;
}

.carousel-indicators li.active {
    background-color: #ff7373;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin: 70px 0;
}

.item p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item span {
    font-style: normal;
    margin-top: 10px;
}
